.mainViewLink:hover{
    color:#00BFFF;
}

.space{
    height: 60px;
}

.mainViewLink {
    text-decoration: none;
    color: #2374c8;
}

.selectOption{
    margin: auto;
    width: 25%;
    padding-top:30px;
    font-size: 20px;
    font-family: 'Lucida Console', sans-serif;
    color: #222222;
    box-shadow: 3px 3px 5px #aaaaaa;
}
.mainViewBtn {
    padding:30px;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: #aaaaaa;
}
.txt{
    padding-left:40px;
}