<!--
  ~ Copyright (c) 2016, WSO2 Inc. (http://wso2.com) All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<div id="docEditDiv" style="display:none">
    <div class="row-fluid">
        <div class="span12">
            <!-- Row -->
            <form id="addNewDoc" enctype="multipart/form-data" action="apis/upload_documents"
                  onsubmit="return validateDocs()" method="POST" style="margin-left: 20px;" target="_blank">
                <div class="container-fluid" style="padding-left:0">
                    <div id="newDoc">
                        <div class="row-fluid">
                            <div class="span6 name-column" style="float:left;width:50%;">
                                <div class="control-group">
                                    <label class="control-label font" for="docName">Name<span
                                            class="requiredAstrix"
                                            style="color: red;">*</span></label>

                                    <div class="controls">
                                        <input type="text" class="required validInput form-control font"
                                               id="docName" name="docName"
                                               style="width:100%">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="textarea">Summary</label>

                                    <div class="controls">
                                        <textarea id="summaryDoc" class="form-control font" name="summaryDoc" rows="3"
                                                  style="max-width: 100%;"></textarea>
                                    </div>
                                </div>
                                <input type="hidden" id="docProcessName" name="docProcessName"/>
                                <input type="hidden" id="docProcessVersion"
                                       name="docProcessVersion"/>
                                <input type="hidden" id="docExtension" name="docExtension"/>
                            </div>

                            <div class="span6" style="float:right;width:48%;margin-top: 25px;">
                                <div class="well">
                                    <div class="control-group">
                                        <label class="control-label">Source</label>

                                        <div class="controls">
                                            <label class="radio" style="margin-left:20px">
                                                <input type="radio" name="optionsRadios1"
                                                       id="optionsRadios7"
                                                       value="url"
                                                       onclick="javascript:$('#sourceUrlDoc').toggle('slow');$('#sourceFile').hide('slow')">URL
                                                (Eg: google doc)
                                                <a class="icon-question-sign help_popup"
                                                   data-original-title=""
                                                   title=""></a>

                                                <p id="urlDoc_help" class="hide">Link to
                                                    documentation managed by an
                                                    external configuration management system</p>
                                            </label>

                                            <div id="sourceUrlDoc" class="controls"
                                                 style="display: none;">
                                                                        <span class="requiredAstrix"
                                                                              style="color: red;">*</span> <input
                                                    type="text" class="required"
                                                    style="width:98%" id="docUrl"
                                                    name="docUrl">
                                            </div>
                                            <label class="radio" style="margin-left:20px">
                                                <input type="radio" name="optionsRadios1"
                                                       id="optionsRadios8"
                                                       value="file"
                                                       onclick="javascript:$('#sourceFile').toggle('slow');$('#sourceUrlDoc').hide('slow')">Document
                                                <a class="icon-question-sign help_popup"
                                                   data-original-title=""
                                                   title=""></a>

                                                <p id="fileDoc_help" class="hide">Upload a
                                                    documentation file</p>
                                            </label>

                                            <div id="fileNameDiv" style="display:none;"></div>
                                            <a onclick="javascript:$('#sourceFile').toggle('slow')"
                                               id="toggleFileDoc"
                                               style="display:none;">
                                                Change File
                                            </a>

                                            <div id="sourceFile" class="controls"
                                                 style="display:none;">
                                                                        <span class="requiredAstrix"
                                                                              style="color: red;">*</span> <input
                                                    type="file" class="required"
                                                    style="width:98%"
                                                    name="docLocation"
                                                    id="docLocation">

                                                <p id="fileType_help">eg : .docx, .doc</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both; font-size:1px;"></div>
                        </div>
                        <br/>
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="control-group">
                                    <!--<button type="button" class="btn btn-primary" id="saveDocBtn" onclick="saveDoc()">Add Document</button>-->
                                    <input type="submit" class="btn btn-primary" id="saveDocBtn"
                                           value="Add Document">
                                </div>
                            </div>

                        </div>
                        <!-- End of row -->
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--</div>-->
</div>
