<div id="processTextDiv" style="display: none">
    <input type="hidden" id="textProcessName" name="textProcessName"/>
    <input type="hidden" id="textProcessVersion" name="textProcessVersion"/>
                            <textarea placeholder="Enter Process Details" rows="15"
                                      id="processContent" name="processContentName"
                                      class="input-large"
                                      style="width:80em"></textarea><br/>
    <button class="btn btn-primary" id="processTxtSaveBtn" onclick="saveProcessText(this)">
        Save
    </button>
</div>