<!--
  ~ Copyright (c) 2016, WSO2 Inc. (http://wso2.com) All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<div id="Associations" class="form-group">
    <!--<div class="title">-->
        <!--<div class="input-group">-->
            <!--Associations:-->
            <!--<label id="Name"></label>_-->
            <!--<label id="Version"></label>-->
        <!--</div>-->
    <!--</div>-->
    <div class="horizontal_line"></div>
    <div class="sidebar-wrapper sidebar-nav hidden-xs cont" id="left-sidebar"
         style="width: 260px; left: 0px; height: 399.883px; padding-top: 20px;" data-side="left" data-width="100"
         data-fixed-offset-top="0" data-offset-top="80">
        <div id="content">
            <ul class="nav nav-stacked">
                <li id="subprocess"><a href="#" onclick="showSubprocess()"
                                       rel="tooltip" title="List of subprocesses for a given process">
                    Subprocess<i id="subprocessadded" class="artifact-check"></i></a></li>
                <li id="successor"><a href="#" onclick="showSuccessor()"
                                      title="List of successor processes for a given process">
                    Successor<i id="successoradded" class="artifact-check"></i></a></li>
                <li id="predecessor"><a href="#" onclick="showPredecessor()"
                                        rel="tooltip" title="List of predecessor processes for a given process">
                    Predecessor<i id="prodecessoradded" class="artifact-check"></i></a></li>
            </ul>
        </div>
        <div class="row" style="padding-top: 10%">
            <button class="btn btn-primary" id="backToDetailsBtn"
                    onclick="loadDetailsStep()" style="margin-left:30px; position: relative;">
                <span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp; Details
            </button>
            <button class="btn btn-primary" id="finishBtn" onclick="loadSummary({{isUpdateView}})"
                    style="margin-left: 5px; position: relative;">
                &nbsp;&nbsp;Save&nbsp;&nbsp;
            </button>
        </div>
    </div>

    <div class="container">
        <div class="row" style="margin-right: 10px">
            <div>{{> add_subprocess .}}</div>
            <div>{{> add_successor .}}</div>
            <div>{{> add_predecessor .}}</div>
            <div>{{> search_model .}}</div>
        </div>
    </div>
    <input type="hidden" id="view-header-field" value="{{assets.tables.[0].fields.name.value}}">
    <input type="hidden" id="process-version-field" value="{{assets.tables.[0].fields.version.value}}">

    <div class="vertical_line" style="bottom: 80px;"></div>
    <div id="processButtonsGroup">
        <!--<button class="btn btn-success" id="updateAssociationsBtn" value="Update"-->
        <!--onclick="updateAssociations()" style="margin-left:40px; position: absolute; bottom: 100px;">-->
        <!--Update-->
        <!--</button>-->
    </div>
</div>

