<!--
  ~ Copyright (c) 2016, WSO2 Inc. (http://wso2.com) All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<div id="Associations" class="form-group">
    <div class="title">
        <div class="input-group">
            Associations:
            <label id="Name"></label>_
            <label id="Version"></label>
        </div>
    </div>
    <div class="horizontal_line"></div>
    <div class="sidebar-wrapper sidebar-nav hidden-xs cont" id="left-sidebar"
         style="width: 260px; left: 0px; height: 399.883px; padding-top: 20px;" data-side="left" data-width="100"
         data-fixed-offset-top="0" data-offset-top="80">
        <ul class="nav nav-stacked">
            <li id="subprocess"><a href="#" onclick="showSubprocess()"
                                   rel="tooltip" title="List of subprocesses for a given process">

                Subprocess<i id="subprocessadded" class="" style="color: red;padding-left: 25px;"></i></a></li>
            <li id="successor"><a href="#" onclick="showSuccessor()"
                                  title="List of successor processes for a given process">
                Successor<i id="successoradded" class="" style="color: red;padding-left: 35px;"></i></a></li>
            <li id="predecessor"><a href="#" onclick="showPredecessor()"
                                    rel="tooltip" title="List of predecessor processes for a given process">
                Predecessor<i id="prodecessoradded" class="" style="color: red;padding-left: 20px;"></i></a></li>
        </ul>
    </div>

    <div class="container">
        <div class="row">
            <div>{{> add_subprocess .}}</div>
            <div>{{> add_successor .}}</div>
            <div>{{> add_predecessor .}}</div>
            <div>{{> search_model .}}</div>
        </div>
    </div>
    <input type="hidden" id="view-header-field" value="{{assets.tables.[0].fields.name.value}}">
    <input type="hidden" id="process-version-field" value="{{assets.tables.[0].fields.version.value}}">

    <div class="vertical_line" style="bottom: 80px;"></div>
    <div id="processButtonsGroup">
        <!--<button class="btn btn-success" id="updateAssociationsBtn" value="Update"-->
        <!--onclick="updateAssociations()" style="margin-left:40px; position: absolute; bottom: 100px;">-->
        <!--Update-->
        <!--</button>-->
        <button class="btn btn-success" id="finishBtn" value="Finish" onclick="loadSummary({{isUpdateView}})"
                style="margin-left: 100px; position: absolute; bottom: 100px;">
            Finish
        </button>
    </div>
</div>

