<div class="container-fluid">
    <div class="body-wrapper">
        <div class="row">
            <div class="wizard add-padding add-padding-top-2x">
                <div class="wizard-inner">
                    <ol class="wiz-nav-inner">
                        <li id="stp1" class="wiz-step current"><span
                                class="hidden-xs">Overview</span></li>
                        <li id="stp2" class="wiz-step"><span class="hidden-xs">Details</span>
                        </li>
                        <li id="stp3" class="wiz-step"><span
                                class="hidden-xs">Associations</span></li>
                    </ol>
                </div>
                <div class="wiz-content">
                    <div id="overviewDiv">{{> create_asset_overview .}}</div>
                    <div id="detailDiv">{{> create_asset_details .}}</div>
                    <div id="associationDiv">{{> create_asset_associations .}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
