<!--
  ~ Copyright (c) WSO2 Inc. (http://wso2.com) All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<h2 id="view-header">Audit Log:</h2>
<br/>
<script>
    window.onload = function () {
        logview("{{path}}");
    }
</script>

<div id="logDiv" style="display: none;">
    <table id="audit-log-table" class="table table-responsive" style="width: 20cm;border-bottom:0px !important;">
        <tbody>
        <tr>
            <td width="40%" style="border: 0px !important;"><span class="comment-title">Time Stamp</span></td>
            <td width="60%" id="process-version" style="border: 0px !important;"><span
                    class="comment-title">Activity</span></td>
        </tr>

        </tbody>
    </table>
</div>

<div class="emptyAssets-MsgDiv" id="empty-log-div" style="display: none;">
    <p class="emptyAssets">We are sorry! There are no any logs available...</p>
</div>
