<h2 id="view-header">Audit Log:</h2>
<br/>
<script>
    window.onload = function () {
        logview("{{path}}");
    }
</script>

<div id="logDiv" style="display: none;">
    <table id="audit-log-table" class="table table-responsive" style="width: 20cm;border-bottom:0px !important;">
        <tbody>
        <tr>
            <td width="40%" style="border: 0px !important;"><span class="comment-title">Time Stamp</span></td>
            <td width="60%" id="process-version" style="border: 0px !important;"><span
                    class="comment-title">Activity</span></td>
        </tr>

        </tbody>
    </table>
</div>

<div class="emptyAssets-MsgDiv" id="empty-log-div" style="display: none;">
    <p class="emptyAssets">We are sorry! There are no any logs available...</p>
</div>
