<div id="processTextContainer" style="display: none">
    <div class="form-group">
        <button id="editText" class="btn btn-primary" onclick="editProcessText(this)">Edit</button>
    </div>
    <div class="panel panel-default">
        <div id="processText" class="panel-body">
            Place holder for rendering process text
        </div>
    </div>
</div>