<!--
~ Copyright (c) 2014 WSO2 Inc. (http://wso2.com) All Rights Reserved.
~
~   Licensed under the Apache License, Version 2.0 (the "License");
~   you may not use this file except in compliance with the License.
~   You may obtain a copy of the License at
~
~        http://www.apache.org/licenses/LICENSE-2.0
~
~   Unless required by applicable law or agreed to in writing, software
~   distributed under the License is distributed on an "AS IS" BASIS,
~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~   See the License for the specific language governing permissions and
~   limitations under the License.
-->
<div id="fullProps">
    <ul>
        <li><a href="#proptable">Properties</a></li>
        <li><a href="#desctable">Description</a></li>
    </ul>
    <div id= "proptable">
        <table id="htmlgrid" class="testgrid" border="1">
            <tr>
                <th>Properties</th>
                <th>Value</th>
            </tr>
            <tr id="R1">
                <td>Name</td>
                <td class="T"><input type="text" id="overview_name" value="" name="overview_name"></td>
            </tr>
            <tr id="R2">
                <td>Owner</td>
                <td class="T"><input type="text" id="properties_owner" value="" name="properties_owner"></td>
            </tr>
            <tr id="R3">
                <td>Predecessors</td>
                <td class="T"><input type="text" value="" id="properties_predecessors" name="properties_predecessors"></td>
            </tr>
            <tr id="R4">
                <td>Successors</td>
                <td class="T"><input type="text" value="" id="properties_successors"name="properties_successors"></td>
            </tr>
            <tr id="R6">
                <td>Provider</td>
                <td class="T"><input type="text" value="" id="overview_provider"name="overview_provider"></td>
            </tr>
            <tr id="R7">
                <td>Version</td>
                <td class="T"><input type="text" value="" id="overview_version"name="overview_version"></td>
            </tr>
            <hr>
        </table>
    </div>
    <div id="desctable"> <textarea id="overview_description" class="description-main" name="overview_description"></textarea>
        </hr>
        <button type="button" class="btn btn-primary"  id="save">Save</button>
    </div>
</div>