<div id="editElementProps">
    <div id = "ast-properties">
        <div name= "propTable" style="padding-bottom:10px; margin-left: 10px;">
            <hr width="800">

            <table id="htmlgrid" class="testgrid" >
                <tr>
                    <th>Properties</th>
                    <th>Value</th>

                </tr>
                <tr id="R1">
                    <td>Name</td>
                    <td width=100% id = "td_name1" ><input type="text"  value=""style="width:98%"  ></td>

                </tr>

                <tr id="R3">
                    <td>Predecessor</td>
                    <td width=100% id = "td_predecessor1" ><input type="text"  value=""style="width:98%"  ></td>

                </tr>
                <tr id="R4">
                    <td>Successor</td>
                    <td width=100% id = "td_successor1" ><input type="text"  value=""style="width:98%"  ></td>

                </tr>
                <tr id="R5">
                    <td>Description</td>
                    <td class="T"><input type="text" value=""  id="td_description"></td>
                   

                </tr>

                <tr id="R2">
                    <td>Process Model</td>
                    <td id = "td_mod"></td>

                </tr>

            </table>
            <hr>
            <button type="button" class="btn btn-primary" id="save">Save</button>

        </div>
    </div>