<a style="color:#fff" href="{{url "/login"}}" id="btn-signin" >
<div class="auth-img">
    <i class="fw fw-padlock fw-1-5x"></i>
    <span class="ro-text">{{t " Sign in"}}</span>
</div></a>
<a style="color:#fff" href="{{url "/../sso/register_new_user?relyingParty=explorer"}}" id="btn-register" >
<div class="auth-img">
    <i class="fw fw-sign-up fw-1-5x"></i>
    <span class="ro-text">{{t " Register"}}</span>
</div></a>