
.descriptor {
    width:17px;
    height:17px;
    border:1px;
    position: absolute;
    left: 10px;
    top:0px;
    cursor:pointer;
    
    background-image: url(../img/showDescriptionIcon.png);
}
.connectionsBtn{
    position: absolute;
    top: 60px;
    right:20px;
    background: #1FAB3A;
    color:#FFFFFF;
}
.viewConnectionsBtn{
    position: absolute;
    top: 2px;
    right:2px;
    background: #1FAB3A;
    color:#FFFFFF;
}

.removeDiagramBtn{
     position: absolute;
    top: 60px;
    right:150px;
    background: #1FAB3A;
    color:#FFFFFF;

}
.chevronEndPoint{
    fillStyle:transparent;
}

td.T {
    width: 100%;
}
td.canvasCell{

height:80px;
width:100px;
 border:solid 1px gray;

}
.testgrid input {
    width: 98%;
  
}
#canvasGrid{
    width:1000px;
    height: 400px;
    border:solid 1px gray;
  overflow-x: scroll;
  overflow-y: scroll;
}

#dropArea {
    cursor: pointer;
    border: solid 1px gray;
    height: 400px;
    width: 800px;
    position:relative;
    overflow-x: scroll;
    overflow-y: scroll;
    
}
#canvasArea{
     cursor: pointer;
    border: solid 1px gray;
    height: 400px;
    width: 800px;
    position:relative;
    overflow-x: scroll;
    overflow-y: scroll;
}
.chevron-text {
    height: 5px;
    width: 10px;

}
.description-main {
    resize: none;
    width: 40em;
    height: 3em;
}
.toolbox {
    border: solid 1px gray;
    height: 80px;
    width: 80px;
}
.text-edit {
    position: relative;
    resize: none;
    width: 6em;
    height: 3em;
    top: 19.9340209960938px;
    left: 35.5728759765625px;
    background-color: #FFCC33;
    text-align: center;
    font-family: Arial;
    visibility: hidden;
}
.chevron {
    position:absolute;
    cursor:pointer;
    width: 165px;
    height: 80px;
   
    background-image: url(../img/chevron-icon.jpg);

}
._jsPlumb_drag_select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;    
}
#propTable{
    padding-bottom:10px; 
    margin-left: 10px;
}
#viewMainProps {
    padding-bottom: 10px;
    margin-left: 10px;
}


#default-canvas {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 30px;
}
.chevron-toolbox {
    position: absolute;
    width: 72px;
    height: 80px;

   
    background-image: url(../img/chevron-toolbox.png);
}