<div id="viewElementProps">
    <div id = "ast-properties">
        <div id="propTable" name= "propTable">
            <hr width="800">
            <table id="htmlgrid" class="testgrid" >
                <tr>
                    <th>Properties</th>
                    <th>Value</th>
                </tr>
                <tr id="R1">
                    <td>Name</td>
                    <td id = "td_name1" ></td>
                </tr>
                 <tr id="R2">
                    <td>Description</td>
                    <td id = "td_description"></td>

                </tr>


                <tr id="R3">
                    <td>Associated process model</td>
                    <td id = "td_mod"></td>
                </tr>
            </table>
        </div>
    </div>