<!--
  ~ Copyright (c) 2016, WSO2 Inc. (http://wso2.com) All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<div id="docEditDiv">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="control-group">
                    <div id="addDoc">
                        <a onclick="newDocFormToggle()" id="toggleAnchor" href="#">
                            <i class="fa fa-plus-circle"></i> Add New Document
                        </a>
                    </div>
                    <div id="updateDoc">
                        <h4></h4>
                    </div>
                </div>
            </div>
            <!-- Row -->
            <form id="addNewDoc" enctype="multipart/form-data" target="_blank">
                <div class="container-fluid">
                    <div id="newDoc">
                        <div class="row-fluid">
                            <div id="docView" class="span6 name-column">
                                <div class="control-group">
                                    <label id="docNameLabel" class="control-label font" for="docName">Name<span
                                            class="requiredAstrix">*</span></label>
                                    <div class="controls">
                                        <input type="text" class="required validInput form-control font"
                                               id="docName" name="docName">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="textarea">Summary</label>
                                    <div class="controls">
                                        <textarea id="summaryDoc" class="form-control font" name="summaryDoc" rows="3">
                                        </textarea>
                                    </div>
                                </div>
                                <div id="buttonDiv" class="control-group">
                                    <input type="submit" class="btn btn-primary" id="saveDocBtn"
                                           value="Add Document">
                                </div>
                                <input type="hidden" id="docProcessName" name="docProcessName"/>
                                <input type="hidden" id="docProcessVersion"
                                       name="docProcessVersion"/>
                                <input type="hidden" id="docExtension" name="docExtension"/>
                            </div>
                            <div id="uploadDocDiv" class="span6">
                                <div class="well">
                                    <div class="control-group">
                                        <label class="control-label">Source</label>
                                        <div class="controls">
                                            <label id="googleURLLabel" class="radio">
                                                <input type="radio" name="optionsRadios1"
                                                       id="optionsRadios7"
                                                       value="url"
                                                       onclick="javascript:$('#sourceUrlDoc').toggle('slow');$('#sourceFile').hide('slow');$(docLocation).val('');">URL
                                                (Eg: google doc)
                                                <a class="icon-question-sign help_popup" data-original-title=""
                                                   title=""></a>
                                                <p id="urlDoc_help" class="hide">Link to
                                                    documentation managed by an
                                                    external configuration management system</p>
                                            </label>
                                            <div id="sourceUrlDoc" class="controls">
                                                <span class="requiredAstrix">*</span>
                                                <input type="text" class="required" id="docUrl" name="docUrl">
                                            </div>
                                            <label id="docURLLabel" class="radio">
                                                <input type="radio" name="optionsRadios1" id="optionsRadios8"
                                                       value="file"
                                                       onclick="javascript:$('#sourceFile').toggle('slow');$('#sourceUrlDoc').hide('slow');$('#docUrl').val('');">Document
                                                <a class="icon-question-sign help_popup" data-original-title=""
                                                   title=""></a>
                                                <p id="fileDoc_help" class="hide">Upload a
                                                    documentation file</p>
                                            </label>
                                            <div id="fileNameDiv"></div>
                                            <a onclick="javascript:$('#sourceFile').toggle('slow')"
                                               id="toggleFileDoc">Change File
                                            </a>
                                            <div id="sourceFile" class="controls">
                                                <span class="requiredAstrix">*</span>
                                                <input type="file" class="required" name="docLocation"
                                                       id="docLocation">
                                                <p id="fileType_help">eg : .docx, .doc</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="bottomDocDiv"></div>
                        </div>
                        <br/>
                        <!-- End of row -->
                    </div>
                </div>
            </form>
            <br/><br/>
        </div>
    </div>
    <!--</div>-->
</div>
