<div class="form-group">
	<label for="name">Name</label>
	<input type="text" class="form-control" id="name"  name="name" placeholder="Enter an asset name">
</div>
<div class="form-group">
	<label for="mediaType">Provider</label>
	<input type="text" class="form-control" id="provider" name="provider" placeholder="Provider">
</div>
<div class="form-group">
	<label for="mediaType">Version</label>
	<input type="text" class="form-control" id="version" name="version" placeholder="Version Eg: 1.0.0">
</div>
<div class="form-group">
	<label for="mediaType">Lifecycle State</label>
	<input type="text" class="form-control" id="lcState" name="lcState" placeholder="Lifecycle State">
</div>
<div class="form-group">
	<label for="mediaType">Tags</label>
	<input type="text" class="form-control" id="tags" name="tags" placeholder="Enter a tag">
</div>
<div class="form-group">
    <label for="mediaType">Owner</label>
    <input type="text" class="form-control" id="owner" name="owner" placeholder="Process Owner">
</div>
<div class="form-group">
    <label for="mediaType">Description</label>
    <input type="text" class="form-control" id="description" name="description" placeholder="Process Description">
</div>
<div class="form-group">
    <label>Search by content</label>&nbsp;&nbsp;
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            <span class="glyphicon glyphicon-cog"></span>
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" style="background:white;border: medium">
            <li><a data-value="PDF"><input type="checkbox"/>&nbsp;PDF</a></li>
            <li><a data-value="Document"><input type="checkbox"/>&nbsp;Document</a></li>
            <li><a data-value="Process-Text"><input type="checkbox"/>&nbsp;Process-Text</a></li>
        </ul>
    </div>
    <br>
    <input type="text" class="form-control" id="content" name="content" placeholder="content">
</div>